<head> <!-- CSS only -->
  <link rel="stylesheet" href="https://hackerthemes.com/bootstrap-themes/demo/theme-machine/hello-world/css/bootstrap4-hello-world.min.css">
  <link rel="stylesheet" href="style.css">
</head>>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>


<h1>Hello <%= @name %>!</h1>
<p><a href="/create_space" class="btn">Create space</a></p>
<p><a href='/'>Back to the homepage</a></p>

<% @request_spaces.each do |my_space| %>
  <div class="space">
    <p>Name: <%= my_space[0].name %></p>
    <p>Description: <%= my_space[0].description %></p>
    <p>Price: <%= my_space[0].price %></p>
    <% my_space[1].each do |booking| %>
        <div class="booking">
          <p>Date: <%= booking.date %></p>
          <form action="/post-status" method="post">
            <button type="submit" value="Approve" name="approval_status">Approve</button>
            <button type="submit" value="Decline" name="approval_status">Decline</button>
            <input type="hidden" value="<%= booking.date %>" name="date"/>
            <input type="hidden" value="<%= booking.account_id %>" name="account_id"/>
            <input type="hidden" value="<%= booking.space_id %>" name="space_id"/>
          </form>
        </div>
    <% end %>
  </div>
<hr>
<% end %>