<p><a href="/create_space" class="btn">Create space</a></p>

<% @spaces.each do |space| %>
  <div>
    <p>Name: <%= space.name %></p>
    <p>Description: <%= space.description %></p>
    <p>Price: <%= space.price %></p>
    <a href = 'mailto:<%= space.email %>'><%= space.email %></a>
  </div>
<% end %>

<a href='/'>Back to the homepage</a>