<% if @name %>
  <h1>Hello <%= @name %>!</h1>
  <p><a href="/create_space" class="btn">Create space</a></p>
<% else %>
  <h1>Hello visitor!</h1>
<% end %>


<p><a href='/'>Back to the homepage</a></p>

<% @spaces.each do |space| %>
  <div>
    <p>Name: <%= space.name %></p>
    <p>Description: <%= space.description %></p>
    <p>Price: <%= space.price %></p>
    <a href = 'mailto:<%= space.email %>'><%= space.email %></a>
    <% if @name %>
      <form action="post-booking-request" method="post">
      
        <input type="hidden" class="form_field" required name="email" value="<%= space.email %>">
        <input type="hidden" class="form_field" required name="name" value="<%= space.name %>">
  
        <button type="submit" value="Book a night">Book a night</button>
      </form>
    <% end %>
  </div>
<% end %>